<!-- src/app/shared/sidebar/sidebar.component.html -->
<mat-nav-list>
  <h3 mat-subheader style="color: rgba(255,255,255,0.5)">Navigation</h3>

  <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon>dashboard</mat-icon>
    <span>&nbsp; Dashboard</span>
  </a>

  <a mat-list-item routerLink="/courses" routerLinkActive="active-link">
    <mat-icon>menu_book</mat-icon>
    <span>&nbsp; Courses</span>
  </a>

  <a mat-list-item routerLink="/enrollments" routerLinkActive="active-link"
    *ngIf="role === 'Student'">
    <mat-icon>school</mat-icon>
    <span>&nbsp; My Enrollments</span>
  </a>

  <a mat-list-item routerLink="/discussions" routerLinkActive="active-link">
    <mat-icon>forum</mat-icon>
    <span>&nbsp; Discussions</span>
  </a>

  <a mat-list-item routerLink="/quizzes" routerLinkActive="active-link">
    <mat-icon>quiz</mat-icon>
    <span>&nbsp; Quizzes</span>
  </a>

  <a mat-list-item routerLink="/users" routerLinkActive="active-link"
    *ngIf="role === 'Admin'">
    <mat-icon>manage_accounts</mat-icon>
    <span>&nbsp; {{'admin.manage_users' | translate}}</span>
  </a>
  <a mat-list-item routerLink="/live" routerLinkActive="active-link"
    *ngIf="role === 'Admin'">
    <mat-icon>sensors</mat-icon>
    <span>&nbsp; Live Feed</span>
  </a>
  <div style="padding: 16px 8px; margin-top: 16px;">
    <button mat-stroked-button
      style="width:100%; color:white; border-color:rgba(255,255,255,0.3);"
      (click)="switchLanguage()">
      <mat-icon>language</mat-icon>
      &nbsp; {{ currentLang === 'en' ? 'தமிழ்' : 'English' }}
    </button>
  </div>

</mat-nav-list>
